#Layout {
    -fx-background-color: #bac9d1;
    -fx-padding: 20;
}

.button {
    -fx-font-size: 16px;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-hgap: 15;
    -fx-vgap: 15;
}


.button {
    -fx-font: bold 16pt "Times New Roman";
}

.label {
    -fx-font: bold 14pt "Times New Roman";  /* font size and weight */
    -fx-text-fill: black;            /* text color */
}

.text-field {
    -fx-font: bold 14pt "Times New Roman"; /* or any font size you want */

}

.text-area {
    -fx-font: bold 20pt "Times New Roman"; /* or any font size you want */
    -fx-pref-height: 120px;
    -fx-font-size: 20px;
}